/* Tags */

body {
  margin: 10px;
}


h1 {
  margin: .50em 0;
}

textarea {
  width: 100% !important;
  height: 400px;
  font-family: 'Ubuntu Mono', monospace;
}

/* IDs */

/* Class */

.switch-text {
  vertical-align: sub;
}


/* Github Link */

.gh-link {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

#gh-icon {
  transform-origin: 10px 28px;
  transform: rotate(45deg);
  fill: #FFF;
}

.gh-link:hover #gh-hover {
  fill: #222222d1;
}

/* Switch Component */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
